<div class="container">
  <div class="row justify-content-between no-gutters mb-2">
    <div class="col-lg-2">
      <!-- Search form -->
      <div class="md-form mt-0">
        <input
          class="form-control"
          type="text"
          placeholder="Search"
          aria-label="Search"
        />
      </div>
    </div>
  </div>
  <table class="table table-bordered table-responsive-sm">
    <thead>
      <tr>
        <th scope="col" class="text-center">OrderId</th>
        <th scope="col" class="text-center">Amount</th>
        <th scope="col" class="text-center">Statut</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>painding</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Delivered</td>
      </tr>

      <tr>
        <th scope="row">3</th>
        <td>Larry the Bird</td>
        <td>waiting for paiement</td>
      </tr>
    </tbody>
  </table>
</div>

<!--updatate-->
