<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title display-3 text-uppercase text-dark text-center">
            1m
          </h5>
          <h6 class="card-subtitle mb-2 text-muted text-center">
            Total custumers
          </h6>
          <p class="card-text"></p>
          <button type="button" class="btn btn-outline-info btn-block">
            View all custumers
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title display-3 text-uppercase text-dark text-center">
            2m
          </h5>
          <h6 class="card-subtitle mb-2 text-muted text-center">
            Total product
          </h6>
          <p class="card-text"></p>
          <button type="button" class="btn btn-outline-info btn-block">
            View all products
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title display-3 text-uppercase text-dark text-center">
            3m
          </h5>
          <h6 class="card-subtitle mb-2 text-muted text-center">
            Total orders
          </h6>
          <p class="card-text"></p>

          <button type="button" class="btn btn-outline-info btn-block">
            View all orders
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
